
Temporizzatore/RTCSetupVisualStudio/RTCSetup/obj/x86/Debug/RTCSetup.exe

Temporizzatore/RTCSetupVisualStudio/RTCSetup/bin/Debug/RTCSetup.exe

Temporizzatore/RTCSetupVisualStudio/RTCSetup/bin/Debug/RTCSetup.pdb

Temporizzatore/temporizzatore/temporizzatore.ino
